html {
  font-family: 'Roboto', sans-serif;
}

.nav__main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 72px;
  background-color: #233040;
}

.nav__main__logo {
  background-color: #384D67;
  width: 72px;
  height: 72px;
}

.nav__main__widget {
  background-color: transparent;
  border: 2px solid #162335;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  margin: 16px 0 0;
}

.nav__main__widget:first-of-type {
  margin-top: 24px;
}

.nav__main__widget:hover {
  box-sizing: border-box;
  border: 2px solid #1A1E24;
  cursor: pointer;
}

.nav__main__widget:focus {
  outline-style: none;
}

/* Toggles from JS */

.nav__main__widget_active {
  background-color: #146EB4;
  border: 2px solid #1A1E24;
}

.nav__main__decoration_line {
  background-color: #162335;
  width: 24px;
  height: 2px;
  margin: 24px 0 0;
}

.nav__main__btn {
  padding: 14px;
  margin: 16px 0 0px;
  border-radius: 8px;
}

.nav__main__btn:first-of-type {
  margin: 24px 0 0 ;
}

.nav__main__btn:hover {
  background-color: #101926;
}

.nav__main__btn:active {
  background-color: #09101A;
} 

.nav__main__btn_link {
  background-color: #162335;
  text-decoration: none;
}

/* Tooltip - Button Name  */

.nav__main__btn_name {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  transform: translate(-18px, -44px);
  position: absolute;
  background: #232F3E;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: auto;
  padding: 12px 16px ;
  margin: 0 0 0 80px;
  pointer-events: none;
  letter-spacing: .8px;
  z-index: 100;
}

.nav__main__btn_name::before {
  content: '';
  position: absolute;
  min-width: 16px;
  min-height: 16px;
  background: #232F3E;
  left: -5px;
  transform: rotate(45deg);
  border-radius: 4px;
  z-index: -1;
}

.nav__main__btn:hover .nav__main__btn_name {
  visibility: visible;
  opacity: 1;
  transform: translate(-18px, -34px);
}

.nav__main__btn:active .nav__main__btn_name::before {
  background-color: #1B81D0;
}

.nav__main__btn:active .nav__main__btn_name {
  background-color: #1B81D0;
}

/* Icons */

.icon-set {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-admin {
  display: block;
  margin: 0 auto;
  background-image: url('../Icons/admin.svg');
  background-repeat: no-repeat;
}
/* 
* {
  border: solid 1px red;
} */
.notifications {
  width: 100%;
margin: 0 auto;
  background-color: grey;
}


.notification__element {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin:0;
  background: #313F50;  
}

.notification__company-logo {
  background-image: url(../images/Notifications/Unicredit.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  margin: 16px 12px 0 16px;
}

.notification__body {
  margin: 0;
  /* padding: 0px 16px 16px; */
  width: 100%;
}

.notification__head {
  display: flex;
  /* flex-direction: row;
  justify-content: left; */
  /* padding: 16px 16px 0 12px; */
  margin: 16px 0 0 0;
}

.notification__sender {
  margin-top: 16px;
  width: 80%;
}

.notification__date {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #C6CCD4;
  width: 20%;
  text-align: right;
  margin: 0 16px 0 0;
}

.notification__message {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
}

.notification__sender {
  margin: 0;
}


.notification__company-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
}

.notification__currency-amount {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ADBBCC;
  margin: 0;
}

.notification__instrument-type {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.notification__guarantee-id {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.notification_is-issued {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.notification__reference {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 0 16px 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #B7BFCA;
  width: 100%;
}
/* 
.notification__issuance-ref {
  margin: 0;
  padding: 0;
}

.notification__issuance-date {
  margin: 0;
  padding: 0;
}

.notifiations__legal-jurisdiction{
  margin: 0;
  padding: 0;
} */
