html {
  box-sizing: border-box;
}
*,*::after,*::before {
  box-sizing: inherit;
}

/* * {
  border: solid 1px red;
} */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 72px;
  background-color: #233040;
}

.nav__column {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__logo {
  background-color: #384D67;
  width: 72px;
  height: 72px;
}

.nav__column_item {
  margin: 24px 0 0
}

.nav__widgets {
  padding: 0;
}

.nav__widget_notifications {
  background-image: url('../Icons/notifications.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #162335;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.nav__item_decoration {
  background-color: #162335;
  width: 24px;
  height: 2px;
}

.nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.nav__item:first-child {
  margin: 0;
}

.nav__icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #162335;
}


.nav__icon_dashboard {
  background-image: url('../Icons/dashboard.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.nav__icon_contacts {
  background-image: url('../Icons/contacts.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.nav__icon_reports {
  background-image: url('../Icons/reports.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.nav__icon_admin {
  background-image: url('../Icons/admin.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.nav__icon:hover {
  background-color: #101926;
}

.nav__widget_notifications:hover {
  background-color: #146EB4;
}